@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    -ms-overflow-style: none;
    overscroll-behavior-y: contain;
    @apply min-h-screen;
}
body::-webkit-scrollbar {
    display: none;
}
