@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    -ms-overflow-style: none;
    overscroll-behavior-y: contain;
    @apply min-h-screen;
}
body::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
